@model ResortFormServiceModel

@{
    ViewData["Title"] = "Create Resort";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_ResortForm", Model)
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


